@import url(//db.onlinewebfonts.com/c/123c7e674188c97798dd39cd41ff2d85?family=Brown+Regular);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Brown Regular', sans-serif;
}
/* body {
  color: hsla(0, 0%, 38%, 1);
} */
/* #container {
  height: 100vh;
  width: 100vh;
} */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100vw;
  height: 72px;
  background-color: hsla(0, 0%, 22%, 1);
}

#nav > div {
  font-size: 1.8rem;
  color: hsl(44, 11%, 81%);
  transition: color 0.1s ease-out;
  cursor: pointer;
}

#nav > div:hover {
  color: hsl(44, 11%, 91%);
}

.highlight {
  position: relative;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 28px;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #f2777a 0%,
    #ffcc66 30%,
    #66cccc 60%,
    #cc99cc 90%
  );
}

/* .selected::hover {
  transform: scaleY(2);
} */

#content {
  width: 100vw;
  height: calc(100vh - 72px);
  background-color: hsla(0, 0%, 18%, 1);
}
