@import url(//db.onlinewebfonts.com/c/123c7e674188c97798dd39cd41ff2d85?family=Brown+Regular);
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Brown Regular', sans-serif;
}

h1,
h2 {
  color: #484848;
  font-family: 'Bungee Shade', serif;
}
h1 {
  font-size: 7.2rem;
  line-height: 6.6rem;
}
h2 {
  font-size: 4.8rem;
  line-height: 4.6rem;
}

a {
  color: hsla(216, 37%, 42%, 1);
}

body {
  background-color: hsla(0, 0%, 18%, 1);
}
/* #container {
  height: 100vh;
  width: 100vh;
} */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100vw;
  height: 72px;
  background-color: hsla(0, 0%, 22%, 1);
}

#nav > div {
  font-size: 1.8rem;
  color: hsl(44, 11%, 81%);
  transition: color 0.1s ease-out;
  cursor: pointer;
  user-select: none;
}

#nav > div:hover {
  color: hsl(44, 11%, 91%);
}

.highlight {
  position: relative;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 28px;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    #f2777a 0%,
    #ffcc66 30%,
    #66cccc 60%,
    #cc99cc 90%
  );
}

#content {
  width: 100vw;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-summary-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 980px;
  background-color: hsla(36, 60%, 98%, 1);
  border-radius: 10px;
  margin-top: 40px;
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 980px;
  background-color: hsla(36, 60%, 98%, 1);
  border-radius: 10px;
  margin-top: 40px;
  /* background-color: #478671; */
}

.article-heading-date-img-container {
  padding: 64px 64px 64px 64px;
}

.article-img-container {
  width: 852px;
  height: 480px;
}

.article-img-text {
  margin-top: 12px;
  text-align: center;
  color: hsla(0, 0%, 51%, 1);
}

#article-img {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.project-summary-text-container {
  width: 57%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.date {
  margin-top: 15px;
}

.article-img-text,
.date-published,
.date-date {
  font-size: 1.5rem;
  line-height: 1rem;
}

.date-published {
  color: hsla(0, 0%, 51%, 1);
}

.date-date {
  color: hsla(0, 0%, 38%, 1);
}
.summary-text {
  margin-top: 18px;
  color: hsla(0, 0%, 35%, 1);
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.article-text {
  margin-top: 11px;
  padding: 0px 80px 64px 80px;
  color: hsla(0, 0%, 35%, 1);
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.btn-read-more-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 44px;
  border: 1.5px solid hsla(0, 0%, 35%, 1);
  border-radius: 10px;
}

.btn-read-more-text {
  font-size: 1.8rem;
  color: hsla(0, 0%, 35%, 1);
  margin-bottom: 5px;
}

.project-summary-img-container {
  width: 43%;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}

#project-summary-img-wheater {
  position: relative;
  left: -1025px;
  top: -30px;
  transform: scale(1.4);
}
