@import url(//db.onlinewebfonts.com/c/123c7e674188c97798dd39cd41ff2d85?family=Brown+Regular);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-article-todo: hsl(273, 9%, 84%);
  --body-background-color: hsl(0, 0%, 85%);
  --header-color: hsl(282, 7%, 27%);
  --link-color: hsl(216, 37%, 42%);
  --text-background-color: hsl(0, 0%, 94%);
  --image-desc-color: hsl(0, 0%, 31%);
  --text-published-color: hsl(0, 0%, 51%);
  --text-published-date-color: hsl(0, 0%, 38%);
  --text-paragraph-color: hsl(274, 5%, 26%);
  --btn-read-more-background-color: hsl(273, 9%, 32%);
  --btn-read-more-text-color: hsl(44, 11%, 81%);
  --btn-read-more-hover-color: hsl(0, 0%, 100%);
  --nav-background-color: hsl(273, 9%, 24%);
  --nav-background-bright-color: hsl(273, 9%, 34%);
  --nav-link-text-color: hsl(44, 11%, 81%);
  --nav-link-text-hover-color: hsl(44, 11%, 91%);
  --nav-link-text-underline-color: linear-gradient(
    90deg,
    hsl(359, 83%, 71%) 0%,
    hsl(40, 100%, 70%) 30%,
    hsl(180, 50%, 60%) 60%,
    hsl(300, 33%, 70%) 90%
  );
}

html {
  font-size: 10px;
  font-family: 'Brown Regular', sans-serif;
  overflow-y: scroll;
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  min-height: 100%;
}

h1,
h2,
h3 {
  color: var(--header-color);
}

h1 {
  font-size: 7.2rem;
  line-height: 6.6rem;
}
h2 {
  font-size: 4.8rem;
  line-height: 4.4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.6rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

#container {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--nav-background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 80px;
}

.navlink {
  color: var(--nav-link-text-color);
  font-size: 1.8rem;
  transition: color 0.1s ease-out;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.1rem;
}

.navlink:hover {
  color: var(--nav-link-text-hover-color);
}

.navlink-highlight {
  position: relative;
}

.navlink-highlight::before {
  background: var(--nav-link-text-underline-color);
  content: '';
  position: absolute;
  top: 28px;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0px;
}

.project-summary-container {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  height: 400px;
  width: 100%;
  max-width: 980px;
}

.project-summary-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
}

.project-summary-img-container {
  flex: 1;
  overflow: hidden;
  border-radius: 0px 2px 2px 0px;
}

.project-summary-header {
  margin-bottom: 10px;
}

.btn-read-more {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 44px;
  border-radius: 2px;
  background: var(--btn-read-more-background-color);
  transition: color 0.1s ease-out;
  cursor: pointer;
  user-select: none;
}

.btn-read-more-text {
  font-size: 1.8rem;
  color: var(--text-background-color);
  padding-bottom: 5px;
}

.btn-read-more:hover {
  background-color: var(--nav-background-bright-color);
}

#project-summary-img-this-site,
#project-summary-img-weather,
#about-img-me {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

#about-img-me {
  object-fit: scale-down;
}

#project-summary-img-this-site {
  object-position: top left;
}

#project-summary-img-weather,
#about-img-me {
  object-position: top right;
}

.project-summary-text-container,
.article-container {
  background-color: var(--text-background-color);
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 980px;
  border-radius: 2px;
  padding: 64px;
  gap: 40px;
}

.article-header {
  margin-bottom: 12px;
}

.article-img-container {
  margin-left: -64px;
  margin-right: -64px;
}

.article-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  margin-bottom: 12px;
}

.article-img-text {
  color: var(--image-desc-color);
  text-align: center;
}

.article-text,
.article-text-todo {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

.article-text {
  padding: 0px 20px;
}

.article-text-todo {
  background-color: var(--text-article-todo);
  padding: 64px;
}

.article-img-text,
.date-published,
.date-date {
  font-size: 1.5rem;
}

.date-published,
.date-date {
  letter-spacing: 0.1rem;
}

.date-published {
  color: var(--text-published-color);
}

.date-date {
  color: var(--text-published-date-color);
}

.project-summary-text,
.article-text,
.article-text-todo {
  color: var(--text-paragraph-color);
}

.project-summary-text {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  margin-left: 30px;
}
li {
  margin-bottom: 10px;
}

.article-text-todo h3 {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #content {
    padding: 0px;
    gap: 3px;
  }
  .project-summary-container {
    height: 600px;
    width: 100%;
    max-width: 490px;
    flex-direction: column-reverse;
  }

  .project-summary-text-container {
    padding: 20px;
    gap: 20px;
  }

  .article-container {
    padding: 20px 0px;
    gap: 20px;
  }

  .article-header-container {
    padding: 0px 20px;
  }

  .article-img-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .article-text {
    padding: 0px 20px;
  }

  .article-text-todo {
    padding: 20px;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 4.4rem;
  }

  .article-header {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 280px) {
  nav {
    flex-direction: column;
    padding: 10px 0px;
  }
}
